doctype html
html
    head
        title="Fake Google auth "
    body
        p Please press the button to log in to Google
        a(href="/auth/google"): button.google_auth_button#google_auth_submit Login
